body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
/* .accordion {
  width: 100%;
  max-width: 600px;
  margin: auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 5px solid red;
} */
.accordion-item {
  border-bottom: 1px solid #ddd;
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: bold;
}
.accordion-header:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--accent-color);
}
.accordion-header i {
  transition: transform 0.3s ease;
}
.accordion-content {
  padding: 15px;
  display: none;
  background: #fff;
  color: #333;
}
.open .accordion-content {
  display: block;
}
.open .accordion-header i {
  transform: rotate(180deg);
}
