/* Style général */
body {
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
}

header img.logo {
  max-width: 150px; /* ou la largeur désirée */
  display: block;
  margin: 0 auto 10px auto;
}

/* Contenu principal */
main {
  font-family: "Times New Roman", Times, serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Sections */
section {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #0066cc;
}

/* Articles */
article {
  margin-bottom: 20px;
  text-align: justify;
  text-justify: inter-word;
}

article h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #333;
}

article p {
  margin-left: 20px;
}

article ul {
  margin: 10px 0 0 40px;
  list-style-type: disc;
}
